<% layout('layout/pattern') -%>
<% block('title') -%>

  <div style="margin-top: -20px">
    <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%; height:250px" alt="Image">
  </div>

  <div class="container-fluid bg-3 text-center">
    <h3>Кто мы ?</h3><br>
    <h4>Мы компания из Волгограда, которая занимается экскурсиями</h4>
  </div><br>

  <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%; height:250px" alt="Image">


  <div class="container-fluid bg-3 text-center">
    <h3>Почему мы ?</h3>
    <h4>Мы заботимся о наших клиентах и хотим сделать ваш отдых незабываемым</h4>

  </div><br>
