<link rel="stylesheet" href="css/main.css">

<% layout('layout/pattern') -%>
<% block('title') -%>

<div class="container">
<form class="logform" action="/signup" method="POST" name="signupForm">
  <h2 class="text-center formHead animated bounceInDown">Регистрация</h2><br>
  <input type="email" name="username" class="form-control" placeholder="Введите E-mail"/>
  <input type="password" name="password" class="form-control" placeholder="Введите пароль">
  <button class="btn btn-lg btn-primary btn-block loginbtn" type="submit">Зарегистрироваться</button>
  <div class="reset-links text-center">
  <a href="/">Вход</a>
  </div>
</form>
